.footer {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  padding: 70px 40px;
  
}

.footer-container {
  display: flex;
  margin-left: 230px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 1;
  min-width: 200px;
}

.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-logo p {
  margin: 5px 0;
  color: white;
}

.footer-contact {
  margin: 5px 0;
}

.social-icons a {
  margin-right: 10px;
  font-size: 12px;
  text-decoration: none;
}

.footer-section {
  flex: 1;
  min-width: 150px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.footer-bottom p{
  color: white;
}
.payment-icons img {
  height: 24px;
  margin: 0 5px;
}
.footer-section ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: red; /* Change to your brand's primary color */
}