.heroContainer {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }
  
  .heroWrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 2px rgba(153, 153, 153, 0.09);
    position: relative;
    min-height: 552px;
    width: 100%;
    
    padding: 36px 72px 56px;
  }
  
  .heroBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .heroTitle {
    position: relative;
    color:white;
    letter-spacing: 10.08px;
    text-transform: uppercase;
    width: 656px;
    font: 144px Roboto Condensed, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .contentWrapper {
    position: relative;
    display: flex;
    margin-top: 33px;
    width: 100%;
    align-items: start;
    gap: 40px 95px;
    flex-wrap: wrap;
  }
  
  .description {
    color: white;
    letter-spacing: 3.75px;
    flex-grow: 1;
    width: 661px;
    flex-basis: auto;
    font: 25px/24px Roboto Condensed, -apple-system, Roboto, Helvetica, sans-serif;
  }
  .description2 {
    color: red;
    letter-spacing: 3.75px;
    flex-grow: 1;
    width: 661px;
    flex-basis: auto;
    font: 25px/24px Roboto Condensed, -apple-system, Roboto, Helvetica, sans-serif;
  }
 
  
  .ctaButton {
    margin-top: 16px;
    gap: 8px;
    color: #fff;
    flex-basis: auto;
    padding: 16px 64px;
    font: 35px Roboto, sans-serif;
    border: 3px solid #fff;
    cursor: pointer;
    background: transparent;
  }
  
  @media (max-width: 991px) {
    .heroWrapper {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .heroTitle {
      max-width: 100%;
      font-size: 40px;
    }
  
    .contentWrapper {
      max-width: 100%;
    }
  
    .description {
      max-width: 100%;
    }
  
    .ctaButton {
      padding: 0 20px;
    }
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }