
.banners-container {
  width: 100%; 
  background-color: #f9f9f9;
}


.top-stories-header {
  
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.top-stories-header h1 {
  font-size: 3rem;
  color: black;
}


.banners-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh; 
}


.banner-container01,
.banner-container02 {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.banner-container01 {
  background-color: white;
  color: black;
}

.banner-container02 {
  background-color: black;
  color: white;
}


.text-section1,
.text-section2 {
  text-align: center;
  margin-bottom: 20px;
}

.text-section1 h1{
    color: black;
    font-size: 2rem;
    margin-bottom: 10px;
  }

.text-section2 h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}

.text-section1 p,
.text-section2 p {
  font-size: 1.2rem;
}


.promo-section {
  position: relative;
  text-align: center;
}

.promo-image {
  width: 40%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.promo-text1,
.promo-text2 {
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-block;
  color: white;
}

.promo-text1 {
  background: blue;
}

.promo-text2 {
  background: red;
}

.promo-text h2,
.promo-text h1,
.promo-text p {
  margin: 0;
}

.promo-text h1 {
  font-size: 3rem;
  margin: 5px 0;
}

.promo-text h2 {
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .banners-section {
    flex-direction: column;
  }

  .banner-container01,
  .banner-container02 {
    height: 50vh; /* Adjust height for stacked layout */
  }
}
